shamefully-hoist "true"
node-linker "hoisted"

# For China 🇨🇳 developers
electron_mirror "https://npmmirror.com/mirrors/electron/"
electron_builder_binaries_mirror "https://npmmirror.com/mirrors/electron-builder-binaries/"
