:root {
  /* background-color: #f1f1f1; */
  /* --nc-item-color-hover: #eee;
  --nc-item-color-active: #e0e0e0; */
  --nc-bg-color: #f1f1f1;
  --nc-item-color-hover: #e5e5e5;
  --nc-item-color-active: #d9d9d9;
  --nc-group-label-color: #696969;
  --nc-info-border-color: #ddd;

  --el-color-primary: #333;
  --el-border-color: #cbcbca;
  --el-border-color-hover: var(--el-border-color);
  --el-fill-color-light: var(--nc-item-color-active);
  --el-text-color-regular: #212121;
  --el-border-color-light: var(--el-border-color);
  --el-input-bg-color: var(--nc-bg-color);
  --el-fill-color-blank: var(--nc-bg-color);
  --el-bg-color-overlay: #e8e8e8;

  color: var(--el-text-color-regular);
  background-color: var(--nc-bg-color);
}

html.dark {
  color: #f2f2f2;
  background-color: unset;
  --nc-item-color-hover: #222;
  --nc-item-color-active: #333;
  --nc-group-label-color: #9d9d9d;
  --nc-info-border-color: #2a2a2a;

  --el-color-primary: #f2f2f2;
  --el-border-color-hover: #4c4d4f;
  --el-fill-color-light: var(--nc-item-color-active);
  --el-text-color-regular: #f2f2f2;
}
